body{
    background-color:rgb(0, 255, 255);
}
.sign{
    height:30rem;
    width:35rem;
    border:0px solid red;
    background-color:white;
    margin:auto;
    text-align:center;
}
.form input{
    height:40px;
    width:350px;
    margin-bottom:3rem;
    display:flex;
    margin-left:auto;
    margin-right:auto;
}
.button1{
 border-radius: 3rem;
  width:150px;
  height:50px;
  background-color: rgb(127, 232, 255);
  color:aliceblue;
  font-size:20px;
  margin-right:50px;
}
.button{
    border-radius: 3rem;
    width:150px;
    height:50px;
    font-size:20px;
}
.heading{
    color:rgb(32, 232, 166);
    margin-bottom: 50px;
}
