/*Thanh điều hướng */
.nav{
    background-color:rgb(245, 245, 245) ;
    padding: 20px;
    width:100%;
    position: fixed;
}
.nav-item{
    text-decoration: none; 
    font-size: 19px; 
    /*margin-right: 40px;*/
    padding: 20px;
}
#Bsearch{
    margin-right: 20px;
    width: 45px;
    height: 30px;
    color: red;
}
.nav-item:hover{
    background-color:antiquewhite ;
}
#search{
    width: 300px;
    height: 30px;
    border-radius: 5px;
    border-color: red;
    margin-left: 100px;

}
.hed{
    text-align: center;
    /*text-decoration: overline underline;*/
    text-shadow: 2px 2px;
    color:rgb(226, 67, 67);
}
/*màn hình chinhs*/
.sale{

    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
}
.sale1{
    background-color: rgb(124, 134, 143);
    height: 330px;
    width: 480px;
    text-align: center;
}
.sale2{
    background-color: bisque;
    margin-left: 70px;
    width: 690px;
    text-align: center;
    border-style: dashed;
}
.img2{
    height: 140px;
    width: 140px;
    border: solid red 1px;
    margin-left: 10px;
    background-color: rgb(227, 64, 64);
}
.sale1 h1{
    color:rgb(226, 11, 3);
    margin:auto;
    border: solid 3px rgb(101, 46, 46);
    border-bottom: 3rem;
}
.img1{
    height: 140px;
    width: 140px;
    border: solid red 1px;
    margin-left: 10px;
    background-color: black;
}
.S-button{
    display: block;
    border-radius: 2rem;
    background-color: red;
    margin: auto;
    color: white;
    height: 30px;
    width: 300px;
}
.B-button{
    margin-top: 10px;
    background-color: rgba(49, 94, 196, 0.721);
    color:antiquewhite;
    border-style: groove;
    height: 30px;
    width: 120px;
}
.B-button:hover {
    height: 35px;
    width: 125px;
}
/*phần mục sản phẩm*/
.Lt{
    margin-top: 30px;
    background-color: rgb(248, 243, 237);
    width: 85px;
    height:120px;
    margin-right: 30px;
    text-align: center;
    border-style: outset;
}
.Lt:hover{
    border-style: outset;
    background-color: aliceblue;
}
.Lt img {
    height: 50px;
    margin-top: 10px;
    margin-left: 5px ;
}
.list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
/*dưới*/
.down{
    margin-top: 40px;
    height: 200px;
    background-color: rgb(216, 95, 89);
}
/*khác*/
body{
    background-color: rgb(223, 209, 203);
}